* {
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  color:rgb(12, 243, 4);
  line-height: 1.2;

  /* -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; */
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.task-field {
  width: 100%;
  padding: 5px 10px;
}

.tasks-pinned,
.all-tasks {
  min-height: 200px;
  padding: 10px 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

